server:
    port: ${SERVER_PORT:8080}
spring:
  application:
    name: todo-api
  main:
    banner-mode: off
  datasource:
    url: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}
    username: ${MYSQL_USERNAME:admin}
    password: ${MYSQL_PASSWORD:password}
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
        dialect: org.hibernate.dialect.MySQL8Dialect
logging:
  pattern:
    console: ${LOGPATTERN_CONSOLE:%green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %msg%n}

JWT:
  SECRET: ${JWT_SECRET:ljaowarhiwegrkhlYUGIEWBlaihfanoaiherblbeapoiarpiakheaiowrhr}
  EXPIRATION: ${JWT_EXPIRATION:86400}
